body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to bottom, #778899, white);
    /*background-color: #778899;*/
}

#welcome-form {
    text-align: center;
    border: 2px solid rgb(161, 156, 156);
    padding: 40px; 
    background-color: white;
    font-size: 50px;
    border-radius: 10px;
    
}

#chat-room {
    width: 65%;
    border: 2px solid #778899;
    border-radius: 10px;
    display: none;
    background-color: white;
}

#messages {
    border: 1px solid #ddd;
    padding: 10px;
    height: 300px;
    overflow-y: scroll;
    color: black;
}

div button {
    border-radius: 10px;
    padding: 8px;

}   
div #username {
    height: 17px;
    width: 300px;
}
#messageInput {
    color: black;
}

