body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to bottom, #778899, white);
    /*background-color: #778899;*/
}

#welcome-form {
    display: none;
    text-align: center;
    border: 2px solid rgb(161, 156, 156); /* Define a cor e a espessura da borda */
    padding: 40px; /* Adiciona espaçamento entre o texto e a borda */
    display: inline-block; /* Faz a borda envolver apenas o texto */
    background-color: white;
    font-size: 50px;
    border-radius: 10px;
    
}

#chat-room {
    border: 2px solid black;
    height: 600px;
    width: 600px;
    display: none;
    text-align: center;
    background-color: white;
}

#messages {
    border: 1px solid #ddd;
    padding: 10px;
    height: 300px;
    overflow-y: scroll;
}

div button {
    border-radius: 10px;
    padding: 8px;

}   
div #username {
    height: 17px;
    width: 300px;
}

